.settings/com.atollic.truestudio.debug.hardware_device.prefs
.settings/org.eclipse.cdt.managedbuilder.core.prefs
Debug/
Release/
new_board.elf.launch
syscalls.c

FPGA/3S500E_layout_bottom.txt
FPGA/SPI_3S500E.gise
FPGA/X3S500E_bitgen.xwbt
FPGA/X3S500E_guide.ncd
FPGA/X3S500E_summary.html
FPGA/_make_mcs.bat
FPGA/_xmsgs/
FPGA/fuse.xmsgs
FPGA/fuseRelaunch.cmd
FPGA/impact.xsl
FPGA/impact_impact.xwbt
FPGA/iseconfig/
FPGA/pepExtractor.prj
FPGA/temp.txt
FPGA/uartLED_summary.html
FPGA/webtalk_impact.xml
FPGA/x3s500e.cfi
STM32/.code_review_properties
STM32/.settings/com.atollic.truestudio.debug.hardware_device.prefs
STM32/.settings/org.eclipse.cdt.managedbuilder.core.prefs

