.settings/com.atollic.truestudio.debug.hardware_device.prefs
.settings/org.eclipse.cdt.managedbuilder.core.prefs
Debug/
Release/
new_board.elf.launch
syscalls.c

FPGA/3S500E_layout_bottom.txt
FPGA/SPI_3S500E.gise
FPGA/X3S500E_bitgen.xwbt
FPGA/X3S500E_guide.ncd
FPGA/X3S500E_summary.html
FPGA/_make_mcs.bat
FPGA/_xmsgs/
FPGA/fuse.xmsgs
FPGA/fuseRelaunch.cmd
FPGA/impact.xsl
FPGA/impact_impact.xwbt
FPGA/iseconfig/
FPGA/pepExtractor.prj
FPGA/temp.txt
FPGA/uartLED_summary.html
FPGA/webtalk_impact.xml
FPGA/x3s500e.cfi
STM32/.code_review_properties
STM32/.settings/com.atollic.truestudio.debug.hardware_device.prefs
STM32/.settings/org.eclipse.cdt.managedbuilder.core.prefs
FPGA/X3S500E.bld
FPGA/X3S500E.cmd_log
FPGA/X3S500E.lso
FPGA/X3S500E.ncd
FPGA/X3S500E.ngc
FPGA/X3S500E.ngd
FPGA/X3S500E.ngr
FPGA/X3S500E.pad
FPGA/X3S500E.par
FPGA/X3S500E.pcf
FPGA/X3S500E.prj
FPGA/X3S500E.ptwx
FPGA/X3S500E.stx
FPGA/X3S500E.syr
FPGA/X3S500E.twr
FPGA/X3S500E.twx
FPGA/X3S500E.unroutes
FPGA/X3S500E.ut
FPGA/X3S500E.xpi
FPGA/X3S500E.xst
FPGA/X3S500E_envsettings.html
FPGA/X3S500E_map.map
FPGA/X3S500E_map.mrp
FPGA/X3S500E_map.ncd
FPGA/X3S500E_map.ngm
FPGA/X3S500E_map.xrpt
FPGA/X3S500E_ngdbuild.xrpt
FPGA/X3S500E_pad.csv
FPGA/X3S500E_pad.txt
FPGA/X3S500E_par.xrpt
FPGA/X3S500E_summary.xml
FPGA/X3S500E_usage.xml
FPGA/X3S500E_vhdl.prj
FPGA/X3S500E_xst.xrpt
FPGA/_ngo/
FPGA/usage_statistics_webtalk.html
FPGA/webtalk.log
FPGA/webtalk_pn.xml
FPGA/x3s500e.bgn
FPGA/x3s500e.bit
FPGA/x3s500e.drc
FPGA/xlnx_auto_0_xdb/
FPGA/xst/

